<div class="container column-flex">
    <!-- imagen de fondo -->
    <img class="fondo" src="/assets/img/fondo.jpg" alt="">
    <div class="card-container br">


        <div class="card-row">
            <form [formGroup]="employeForm" (ngSubmit)="saveForm()">
                <!-- foto del empleado -->
                <div class="col-photo">
                    <div *ngIf="isImageSaved">
                        <img [src]="cardImageBase64" alt="">
                    </div>
                    <div *ngIf="!isImageSaved">
                        <img src="/assets/img/img-default.jpg" alt="">
                    </div>
                    <a class="upload-image" (click)="handleImage()"><i class="fa fa-cloud-upload"></i> Subir
                        Imagen
                    </a>
                    <input type="file" (change)="fileChangeEvent($event)" formControlName="image" id="image"
                        accept="jpg, png">
                    <!-- [(ngModel)]="data.foto_perfil"> -->
                </div>

                <!-- este div contiene la info del empleado  -->
                <div class="card-body w-100 column-flex">
                    <!-- nombre -->
                    <div class="alert"
                        *ngIf="employeForm.controls['nombre'].invalid && (employeForm.controls['nombre'].dirty || employeForm.controls['nombre'].touched)">
                        <div class="err" *ngIf="employeForm.controls['nombre'].errors.required">
                            *Nombre es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Nombre:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.nombre" type="text"
                                formControlName="nombre" id="nombre"></div>
                    </div>

                    <!-- puesto -->
                    <div class="alert"
                        *ngIf="employeForm.controls['puesto'].invalid && (employeForm.controls['nombre'].dirty || employeForm.controls['puesto'].touched)">
                        <div class="err" *ngIf="employeForm.controls['puesto'].errors.required">
                            *Puesto es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Puesto:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.puesto" type="text"
                                formControlName="puesto" id="puesto"></div>
                    </div>

                    <!-- edad -->

                    <div class="alert"
                        *ngIf="employeForm.controls['edad'].invalid && (employeForm.controls['nombre'].dirty || employeForm.controls['edad'].touched)">
                        <div class="err" *ngIf="employeForm.controls['edad'].errors.required">
                            *Edad es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Edad:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.edad" type="number"
                                formControlName="edad" id="edad"></div>
                    </div>

                    <!-- Direccion -->
                    <div class="alert"
                        *ngIf="employeForm.controls['direccion'].invalid && (employeForm.controls['direccion'].dirty || employeForm.controls['direccion'].touched)">
                        <div class="err" *ngIf="employeForm.controls['direccion'].errors.required">
                            *Direccion es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Dirección:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.direccion" type="text"
                                formControlName="direccion" id="direccion">
                        </div>
                    </div>

                    <!-- Correo -->
                    <div class="alert"
                        *ngIf="employeForm.controls['correo'].invalid && (employeForm.controls['correo'].dirty || employeForm.controls['correo'].touched)">
                        <div class="err" *ngIf="employeForm.controls['correo'].errors.required">
                            *Correo es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Correo:</strong></div>
                        <div class="info-value">
                            <input class="input-field" [(ngModel)]="data.correo" type="email" ngModel [email]="true"
                                formControlName="correo" id="correo"></div>
                    </div>

                    <!-- telefono -->

                    <div class="alert"
                        *ngIf="employeForm.controls['telefono'].invalid && (employeForm.controls['telefono'].dirty || employeForm.controls['telefono'].touched)">
                        <div class="err" *ngIf="employeForm.controls['telefono'].errors.required">
                            *Teléfono es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Telefono:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.telefono" type="number"
                                formControlName="telefono" id="telefono">
                        </div>
                    </div>

                    <!-- fecha -->
                    <div class="alert"
                        *ngIf="employeForm.controls['fecha'].invalid && (employeForm.controls['fecha'].dirty || employeForm.controls['fecha'].touched)">
                        <div class="err" *ngIf="employeForm.controls['fecha'].errors.required">
                            *Fecha es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>Fecha de Ingreso:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.fecha_ingreso" type="date"
                                formControlName="fecha" id="fecha"></div>
                    </div>

                    <!-- matricula -->
                    <div class="alert"
                        *ngIf="employeForm.controls['matricula'].invalid && (employeForm.controls['matricula'].dirty || employeForm.controls['matricula'].touched)">
                        <div class="err" *ngIf="employeForm.controls['matricula'].errors.required">
                            *Id empleado es requerido
                        </div>
                    </div>
                    <div class="info-body row-flex">
                        <div class="info-key"><strong>ID Empleado:</strong></div>
                        <div class="info-value"><input class="input-field" [(ngModel)]="data.matricula" type="number"
                                formControlName="matricula" id="matricula"></div>
                    </div>
                    <div class="actions">
                        <a class="cancelar" (click)="cancelar()">
                            <i class="fa fa-ban"></i> Cancelar</a>
                        <button class="guardar" [disabled]="!employeForm.valid">
                            <i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="section"></div>
    </div>
    <div class="box-gray br"></div>
</div>